app = "kimssam-backend"

primary_region = "nrt"

[env]
  NODE_ENV = "production"
  PORT = "8080"
  HOST = "0.0.0.0"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
